<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-cloak>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/app/index.html">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <style>input.ng-invalid.ng-dirty {background-color: pink}</style>
    <div ng-controller="EditEventController" style="padding-left:20px; padding-right:20px;">
        <div class="container">
            <h1>New Event</h1>
            <hr />
            
            <form name="newEventForm">
                <fieldset>
                    <label for="eventName">Event Name</label>
                    <input id="eventName" type="text" ng-model="event.name" required placeholder="Name of your event..." />
                    <label for="eventDate">Event Date</label>
                    <input id="eventDate" type="text" ng-model="event.date" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="format (mm/dd/yyy)..." />
                    <label for="eventTime">Event Time</label>
                    <input id="eventTime" type="text" ng-model="event.time" placeholder="Start and end time..." />
                    <label for="eventLocation">Event Location</label>
                    <input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of your event..." />
                    <br />
                    
                    <input id="eventCity" type="text" class="input-small" ng-model="event.location.city" placeholder="City" />
                    <input id="eventState" type="text" class="input-small" ng-model="event.location.state" placeholder="State" />
                    
                    <label for="eventImageUrl">Image:</label>
                    <input id="eventImageUrl" type="url" class="input-xlarge" ng-model="event.imageUrl" placeholder="Url of image..." />
                </fieldset>
                
                <img ng-src="{{event.imageUrl}}" src="" />
                <br />
                <br />
                
                <button type="button" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
            </form>
        </div>
    </div>
    
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/EventController.js"></script>
    <script src="js/controllers/EditEventController.js"></script>
    <script src="js/filters.js"></script>
</body>
</html>